/*header固定*/
.fixed{
	position: fixed;
	width: 100%;
	margin-top:-70px;
}
#margin-for-fixed{
	margin-top:70px;
	/*headerが下から通り過ぎたらz-indexを使う*/
}

header{
	display: flex;
	justify-content: space-between;
	background-color: #1dace0;
	color: #fff;
	font-size: 18px;
	padding: 5px 0;
}

 .icon{
 	display: flex;
 	align-items: center;
 	margin-left: 80px;
 }

 .icon img{
 	height: 60px;
 }

 .icon .name strong{
	color: #eae51f;
 }

 .header-right{
 	display: flex;
 	margin-right: 80px;
 	align-items: center;
 	/*justify-content: center; ←flex下要素が真ん中によるだけだからいらない*/
 }
 .header-right li:first-child{
 	margin-right: 20px;
 }

 /*welcomeここから*/
 .welcome{
 	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-image: url(../img/background1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	color: #fff;
	height: 100vh;
 }

 .title{
 	font-size: 64px;
 }
 .guidline{
 	margin-top:50px;
 	font-size: 28px;
 	font-weight: bold;
 	/*boldは700pxと一緒*/
 }
.guidline li:not(:first-child){ 
	/*not使うと1行で済む*/
	margin-top: 16px;
}
.btn-group{
	margin-top: 60px;
}
.btn{
	height: 55px;
	width: 170px;
	margin-left: 120px;
	cursor: pointer;
	/*矢印の種類変えるタグ　hoverしたときミッキーの✋*/
	color: #fff;
	font-weight: bold;
	font-size: 28px;
	border-radius: 10px;
}
.btn:first-child{
	margin-left:0px;
}

.register{
	background-color: rgba(29,172,224,.5);
	border: 3px solid rgba(29,172,224,.3);
	/*hoverしたときに透け感がなくなる*/
}
.register:hover{
	background-color: rgb(29,172,224);
}

.login{
	background-color: rgba(236,227,35,.5);
	border: 3px solid rgba(236,227,35,.3);
	/*hoverしたときに透け感がなくなる*/
}
.login:hover{
	background-color: rgb(236,227,35);
}
/*welcomeここまで*/

/*curriculumここから*/
.curriculum{
	margin-top: 50px;
}
.sub-title{
	text-align: center;
	font-size: 36px;
	margin:20px 0;
}
.img-box{
	display: flex;
	margin-top: 50px;
	justify-content:center;
/*	font-size: 24px; */
}
.img-box li{
	display: flex;
	flex-direction: column;
	/*画像と文字が横並びになっているのを縦に揃える
	わからなかった検証してチェック外したりして試す😱*/
	text-align: center;
}
.img-box li:nth-child(2){
	margin: 0 60px;	
}
.img-box img{
	height: 300px;
	width: 300px;
}
.img-box span{
	font-size: 24px;
	margin-top: 20px;
	text-align: center;
}
/*curriculumここまで*/

.contact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 350px;
	margin-top:30px;
	padding-top: 50px;
	background-color: #C4C4C4;
}
/*上の指定だけですべてがセンターかつ縦並び一行になる*/
.contact .form{
	margin: 30px 0px 40px;
	display: flex;
	justify-content: center;
}
.form .name{
	margin-bottom: 20px;
}
.form .name,
.form .e-mail{
	height:50px;
	width: 400px;
	box-sizing: border-box;
	font-size: 16px;
}
.form-left{
	margin-right: 50px;
}
.form .inquiry{
	height: 120px;
	width: 400px;
	box-sizing: border-box;
	font-size: 16px;
}


/*.contact{
	height:350px;
	padding-top: 50px;
	margin-top: 50px;
	background-color: #D5D5D5;
}
.form{
	margin: 50px 0px;
	display: flex;
	justify-content: center;
}
fieldset{
	margin-bottom: 20px;
}
.name{
	line-height: 50px;
	width: 300px;
}
.e-mail{
	line-height: 50px;
	width: 300px;
}

textarea{
	margin-left: 60px;
	height: 120px;
	width: 300px;
}
*/
.submit{
	background-color: #548FBD;
	color: white;
	height: 50px;
	font-size: 18px;
	border-radius: 10px;
	border:2px solid #548FBD;
	box-sizing: border-box;
	transition-duration: 500ms;
	padding: 10px 20px
}
.submit:hover{
	background-color: white;
	color: #548FBD;
	border-color:#548FBD;
	transition-duration: 500ms;
}

footer{
	background-color: #233f51;
	display:flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	padding-top: 5px;
	color: #fff;
}

footer .footer-right{
	margin-right: 80px;
}

/*レスポンシブ対応*/

/*小型PC用想定*/
@media screen and (max-width: 1280px) {
	.img-box{
		justify-content: space-around;
	}
	.img-box li{
		margin-right: 30px;
	}
}
@media screen and (max-width: 960px) {
/*curriculum*/
	.img-box{
		flex-wrap: wrap;
		/*改行処理あり↑*/
		align-content: space-around;
	}
	.img-box li{
		margin-top: 30px;
		margin-right: 0px;
	}
/*contact*/
	.contact{
		height: 100%;
		padding: 40px 20px;
	}
	.contact .form{
		flex-flow: column nowrap;
		/*改行なしになる↑*/
		margin: 30px 0;
	}
	.form-left{
		margin-right:0;
		margin-bottom: 30px;
	}
	.form .name,
	.form .e-mail{
		width: 80%;
	}
	.form .inquiry{
		width: 80%;
	}
	.contact button{
		font-size:20px;
		padding: 5px 40px;
		box-sizing: border-box;
		text-align: center;
	}
}

@media screen and (max-width: 480px) {
	body{
		min-width: 375px;
	}
/*headerの対応*/
	.header-right{
		display: none;
	}
	.icon{
		margin-left: 20px;
	}
	.icon span{
		display: none;
	}

/*welcome*/
	.title{
		font-size: 30px;
	}
	.guidline{
		margin-top: 30px;
		font-size: 24px;
		font-weight: normal;
	}
	.btn-group{
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		margin-top: 40px;
	}
	.btn{
		margin-left: 0px;
		font-weight: bold;
		font-size: 24px;
		margin-top: 20px;
		height: 48px;
		width: 40%;
	}
	.btn:first-child{
		margin-top: 0px;
	}

/*footerの対応*/
	footer{
		justify-content: center;
	}
	footer .icon{
		display: none;
	}
	footer .footer-right{
		margin-right: 0;
		/*通常PC版でmargin指定したのをなおす*/
	}
｝